<h4>Internal Server Error</h4>
@if (error) {
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: if you are seeing this error then angular is not to blame!</p>
    <p>What to do next?</p>
    <ol>
        <li>Open chrome dev tools and check the failing network request</li>
        <li>Examine url of failing request</li>
        <li>Reproduce in postman - therefore not an angular issue!</li>
    </ol>
    <p class="font-weight-bold">Following is the stack trace - check the first two line, this tells you exactly which line of code caused the issue!</p>
    <code class="mt-5" style="background-color: whitesmoke;">
        {{error.details}}
    </code>
}
